*{margin:0;padding:0}
 body,html{
     width:100%;
 }
 #juejin{
     width:100%;
     height:auto;
 }
 #view-container{
     width:100%;
     height:auto;
     position:absolute;
     top:0;
     bottom:0;
     left:0;
     background:#f1f1f1;
 }
 

/* 登陆前中心 */
  .banner-box{
      width:100%;
      height:auto;
      display:none;
  }

   /* 中间大图 */
  #banner{
    width: 100%;
    margin-bottom: 24px;
    background: #4a78da;
    overflow: hidden;
    z-index:1;
    margin-top:.6rem;
  }
  
  .banner-inner{
    min-height: 250px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
   
}
 .banner-sogo{
    align-self: center;
    color: #fff;
    font-size:14px;
    text-align: left;
    width: auto;
    max-width: 100%;
    margin-left: 24px;
    margin-right: 20px;
 }
 .banner-sogo h2{
     font-size:20px;
     margin-top: 10px;
     margin-bottom: 20px;
     font-weight: 400;
 }
 .banner-sogo ul{
     line-height:1.8;
     font-weight:300;
 }
 .banner-sogo ul li{
     list-style:none;
     display: list-item;
     text-align: -webkit-match-parent;
 }

.hot{
    width:100%;
    height:auto;
    position:absolute;
    top:3.3rem;
} 
.hot-header{
    width:95%;
    height:.5rem;
    background:#fff;
    padding-left:5%;
    overflow:hidden;
    border-bottom:1px solid #ccc;
}
.hot-header h2{
    font-size:.2rem;
    margin-top:.17rem;
    color:rgb(51, 49, 49);
    font-weight:400;
}
.hot-list{
    width:100%;
    background:#fff;
}
.hot-list li{
    width:95%;
    height:.8rem;
    border-bottom:1px solid #ccc;
    font-size:.5rem;
    padding-left:5%;
}
.hot-list li a {
    text-decoration: none;
    color:black;
    font-size:.18rem;
    font-weight:600;
}
 /* 登陆后中心 */
.comment-block{
   width:100%;
   height:auto;
   margin-top: .6rem;
   z-index:2;
   /* display:none; */
}
.comment-nav{
    width: 100%;
    height: .45996rem;
    z-index: 100;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    background:#fff;
   
}
.comment-nav a{
    display:block;
    width:20%;
    height:100%;
    text-decoration: none;
    color:#007fff;
    line-height:.45996rem;
    text-align:center;
    font-size:.15rem;
    font-weight:300;
}
.online-entry-list{
  width:100%;
  margin-top:.2rem;
  height:auto;
  background:#fff;
  border-bottom:1px solid #ccc;
}
.online-header{
    padding: .156rem .12rem;
    border-bottom: 1px solid hsla(0,0%,59%,.1);
}
.online-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.linenav-list{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
   
}
.line-nav-item{
    list-style:none;
    float:left;
    padding: 0 .224rem;
    font-size: .1392rem;
    border-right: 1px solid hsla(0,0%,59%,.2);
}
.line-nav-item:last-child{
    border:none;
}
.line-nav-item a{
    color:grey;
    text-decoration: none;
}
.line-nav-item .current2{
    color:#007fff;
}
.entry-list{
    width:100%;
    background:#fff;
    display: block;
    list-style-type: disc;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: .01rem;
}
.entry-item{
    display: list-item;
    text-align: -webkit-match-parent;
    border-bottom: 1px solid rgba(178,186,194,.15);
    list-style:none;
}
.entry-link{
    display:block;
}
.content-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .18rem .24rem;
}
 .meta-row{
    font-size:12px;
}
.meta-row a{
    color: #b2bac2;
    text-decoration: none;
}
.title-row{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:.5rem;
}
.title{
    font-weight: 600;
    line-height: 0.12rem;
    color: #2e3135;
    font-size:.19rem;
    text-decoration: none;
}
.action-row{
   font-size:.5rem;
}
.action-list{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
}
.item2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: .24rem; 
    font-size: .12996rem;
    line-height: 1;
    color: #b2bac2;
    border-radius: 1px;
    border: 1px solid #edeeef;
}
.like img{
    width:16px;
    height:16px;
}
.title-box{
    text-decoration: none;
    color:#ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 .096rem;
    height: 100%;
}
.count{
    margin-left: .2em;
    font-weight: 700;
}
