<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>问题详情</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/base.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/header.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/particulars.css" />
  </head>

  <body>
    <header>
      <div id="header">
        <div class="container">
          <a href="/" class="logo"></a>
          <div class="main-nav">
            <ul class="nav-list">
              <li class="main-nav-list">
                <div class="show-menu">
                  <span>首页</span>
                  <div class="icon ico-arrow-down-b"></div>
                </div>
                <!-- 首页按钮下拉菜单 -->
                <%if(!login){%>
              </li>
              <li class="nav-item athor">
                <span>
                  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="Lobutton">登录</button>
                </span>
                <b>·</b>
                <span>
                  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="rebutton">注册</button>
                </span>
              </li>
              <%}else{%>

                <li class="nav-item loginon">
                  <a href="#"></a>
                  <div class="userimg">
                    <img src="<%=headpic %>" alt="">
                  </div>
                </li>
                <%}%>

            </ul>
            <div class="show-down-box">
              <ul class="show-down">
                <li class="current">
                  <a href='/'>首页</a>
                </li>
                <li>
                  <a>专栏</a>
                </li>
                <li>
                  <a>收藏集</a>
                </li>
                <li>
                  <a>发现</a>
                </li>
                <li>
                  <a>开源库</a>
                </li>
              </ul>
            </div>
            <div class="show-personal-down">
              <ul>
                <li>
                  <a>
                    <i><img src="../images/write.png"/></i>
                    <span>写文章</span>
                  </a>
                </li>
                <li class="li-line">
                  <a>
                    <i><img src="../images/draft.png"/></i>
                    <span>草稿</span>
                  </a>
                </li>
                <li>
                  <a>
                    <i><img src="../images/mypage.png"/></i>
                    <span>我的主页</span>
                  </a>
                </li>
                <li>
                  <a>
                    <i><img src="../images/problem.png"/></i>
                    <span>我的问题</span>
                  </a>
                </li>
                <li>
                  <a>
                    <i><img src="../images/collection.png"/></i>
                    <span>我的收藏</span>
                  </a>
                </li>
                <li class="li-line">
                  <a>
                    <i><img src="../images/label.png"/></i>
                    <span>标签管理</span>
                  </a>
                </li>
                <li>
                  <a>
                    <i><img src="../images/set.png"/></i>
                    <span>设置</span>
                  </a>
                </li>
                <li class="li-line">
                  <a>
                    <i><img src="../images/about.png"/></i>
                    <span>关于</span>
                  </a>
                </li>
                <li>
                  <a href="/logout">
                    <i>
                      <img src="../images/loginout.png" />
                    </i>
                    <span class="logout">登出</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <article>
      <div class="content">
        <h1><%= title%></h1>
        <p><%= content%></p>
        <p>作者：<%= username%></p>
      </div>
      <div class="comment">
        <h2>评论</h2>
        <div class="comment-input">
          <textarea placeholder="说说你的看法" class="countent"></textarea>
          <button>评论</button>
          
        </div>
        <ul id="box">
          <li>
            <div class="user">
              <img src="../images/TOU.jpg">
            </div>
            <div class="username">
              <h1 class="tag">nameuser</h1>
              <p class="countent">快乐十分建设路口菲利克斯咖啡店快乐十分建设路口菲利克斯咖啡店快乐十分建设路口菲利克斯咖啡店</p>
            </div>
            <div class="footer">
              <span><img src="../images/triangle.png"/><a href="#">0</a></span>
              <span><img src="../images/Pinglun.png"/><a href="#">0条评论</a></span>
              <span><a href="#" class="time">20分钟前</a></span>
            </div>
          </li>
          <li>
            <div class="user">
              <img src="../images/TOU.jpg">
            </div>
            <div class="username">
              <h1>nameuser</h1>
              <p>快乐十分建设路口菲利克斯咖啡店</p>
            </div>
            <div class="footer">
              <span><img src="../images/triangle.png"/><a href="#">0</a></span>
              <span><img src="../images/Pinglun.png"/><a href="#">0条评论</a></span>
              <span><a href="#">20分钟前</a></span>
            </div>
          </li>
          <li>
            <div class="user">
              <img src="../images/TOU.jpg">
            </div>
            <div class="username">
              <h1>nameuser</h1>
              <p>快乐十分建设路口菲利克斯咖啡店</p>
            </div>
            <div class="footer">
              <span><img src="../images/triangle.png"/><a href="#">0</a></span>
              <span><img src="../images/Pinglun.png"/><a href="#">0条评论</a></span>
              <span><a href="#">20分钟前</a></span>
            </div>
          </li>
        </ul>
      </div>
    </article>
    <script src="../javascripts/problemDeyail.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/index.js"></script> 
    <script src="/javascripts/header.js"></script>
    

  </body>
</html>