<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>问题详情</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/base.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/header.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/particulars.css" />
  </head>

  <body>
    <header>
      <div id="header">
        <div class="container">
          <a href="/" class="logo"></a>
          <div class="main-nav">
            <ul class="nav-list">
              <li class="main-nav-list">
                <div class="show-menu">
                  <span>首页</span>
                  <div class="icon ico-arrow-down-b"></div>
                </div>
                <!-- 首页按钮下拉菜单 -->

              </li>
              <li class="nav-item athor">
                <span>登录</span>
                <span>·注册</span>
              </li>
              <li class="nav-item loginon">
                <a href="#"></a>
                <div class="userimg"><img src="" alt=""></div>
              </li>
            </ul>
            <div class="show-down-box">
              <ul class="show-down">
                <li class="current">
                  <a>首页</a>
                </li>
                <li>
                  <a>专栏</a>
                </li>
                <li>
                  <a>收藏集</a>
                </li>
                <li>
                  <a>发现</a>
                </li>
                <li>
                  <a>开源库</a>
                </li>
              </ul>
            </div>
            <div class="show-personal-down">
              <ul>
                <li>
                  <a>
                    <i><img src="images/write.png"/></i>
                    <span>写文章</span>
                  </a>
                </li>
                <li class="li-line">
                  <a>
                    <i><img src="images/draft.png"/></i>
                    <span>草稿</span>
                  </a>
                </li>
                <li>
                  <a>
                    <i><img src="images/mypage.png"/></i>
                    <span>我的主页</span>
                  </a>
                </li>
                <li>
                  <a>
                    <i><img src="images/problem.png"/></i>
                    <span>我的问题</span>
                  </a>
                </li>
                <li>
                  <a>
                    <i><img src="images/collection.png"/></i>
                    <span>我的收藏</span>
                  </a>
                </li>
                <li class="li-line">
                  <a>
                    <i><img src="images/label.png"/></i>
                    <span>标签管理</span>
                  </a>
                </li>
                <li>
                  <a>
                    <i><img src="images/set.png"/></i>
                    <span>设置</span>
                  </a>
                </li>
                <li class="li-line">
                  <a>
                    <i><img src="images/about.png"/></i>
                    <span>关于</span>
                  </a>
                </li>
                <li>
                  <a>
                    <i><img src="images/loginout.png"/></i>
                    <span>登出</span>
                  </a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </header>
    <article>
      <div class="content">
        <h1>如何在三年内快速成长为一名技术专家</h1>
        <p>工作前三年是职业生涯中成长最快的几年，在这段时间里你会充满激情，做事专注，也容易养成良好的习惯。在我们公司有些同学在前三年中就快速成为某一个领域的技术专家，有些同学也可能止步不前。本文和大家一起探讨下如何在三年内快速成长为一名技术专家。</p>
        <p>作者：XXX</p>
      </div>
      <div class="comment">
        <h2>评论</h2>
        <div class="comment-input">
          <textarea placeholder="说说你的看法" ></textarea>
          <button>评论</button>
          
        </div>
        <ul id="box">
          <li>
            <div class="user">
              <img src="../images/TOU.jpg">
            </div>
            <div class="username">
              <h1>nameuser</h1>
              <p>快乐十分建设路口菲利克斯咖啡店快乐十分建设路口菲利克斯咖啡店快乐十分建设路口菲利克斯咖啡店</p>
            </div>
            <div class="footer">
              <span><img src="../images/triangle.png"/><a href="#">0</a></span>
              <span><img src="../images/Pinglun.png"/><a href="#">0条评论</a></span>
              <span><a href="#">20分钟前</a></span>
            </div>
          </li>
          <li>
            <div class="user">
              <img src="../images/TOU.jpg">
            </div>
            <div class="username">
              <h1>nameuser</h1>
              <p>快乐十分建设路口菲利克斯咖啡店</p>
            </div>
            <div class="footer">
              <span><img src="../images/triangle.png"/><a href="#">0</a></span>
              <span><img src="../images/Pinglun.png"/><a href="#">0条评论</a></span>
              <span><a href="#">20分钟前</a></span>
            </div>
          </li>
          <li>
            <div class="user">
              <img src="../images/TOU.jpg">
            </div>
            <div class="username">
              <h1>nameuser</h1>
              <p>快乐十分建设路口菲利克斯咖啡店</p>
            </div>
            <div class="footer">
              <span><img src="../images/triangle.png"/><a href="#">0</a></span>
              <span><img src="../images/Pinglun.png"/><a href="#">0条评论</a></span>
              <span><a href="#">20分钟前</a></span>
            </div>
          </li>
        </ul>
      </div>
    </article>
    <script src="../javascripts/problemDeyail.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>